{erl_opts, [
    {parse_transform, lager_transform},
    {lager_truncation_size, 4096},

    bin_opt_info,

    warn_bif_clash,
    warn_export_all,
    warn_obsolete_guard,

    warn_unused_import,

    warn_unused_record,
    warn_untyped_record,

    warn_shadow_vars,
    warn_unused_vars,
    warn_export_vars,
    warn_exported_vars,

    warn_unused_function,
    warn_deprecated_function,

    strict_validation,
    warn_missing_spec
]}.


{priv_dir, "priv"}.
{sub_dirs, ["rel"]}.


{deps_dir, "deps"}.

{deps, [
    {lager, "2.0.1",
        {git, "https://github.com/basho/lager.git", {tag, "2.0.1"}}},
    {cowboy, "0.9.0",
        {git, "https://github.com/extend/cowboy.git", {tag, "0.9.0"}}},
    {yaws, "1.98",
        {git, "https://github.com/klacke/yaws.git", {tag, "yaws-1.98"}}},
    {lager_syslog, "2.0.1",
        {git, "https://github.com/basho/lager_syslog.git", {tag, "2.0.1"}}}
]}.


{plugin_dir, "rebar_plugins"}.

{plugins, [
    rebar_mirror_deps
]}.

{get_dep_mirror, "cp /tmp/~s ~s"}.
{upd_dep_mirror, "cp ~s /tmp/~s"}.

{eunit_compile_opts, [export_all]}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.

